$__color__primary: #2F2F2F;
$__color__primary--dark: #272727;
$__color__primary--light: #3f3f3f;
$__color__secondary: #F4F9E9;
$__color__secondary--dark: #dbdfd3;
$__color__secondary--light: #f9fcf3;
$__color__tertiary: #DD6031;
$__color__tertiary--dark: #c1532a;
$__color__tertiary--light: #f17244;
$__font-family__primary: "Arial";
$__font-family__secondary: "Arial";
$__font-family__tertiary: "Arial";
